.Home .Header {
  height: 2em;
  width: 100%;
  border-bottom: 1px solid var(--button-border-color);
  display: flex;
  align-items: center;
}
.Home .Header > div {
  flex-grow: 1;
}
.Home .Header .left * {
  margin-left: 1em;
}
.Home .Header .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.Home .Header .right * {
  margin-right: 1em;
}
.Home .Content {
  margin: 1em;
}
