.DeleteDocInput {
  display: inline-block;
  position: relative;
  width: 100%;
}
.DeleteDocInput .dialog {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  width: 20em;
  background-color: var(--warning-background-color);
  border: 1px solid var(--warning-border-color);
  box-shadow: 2px 2px 5px var(--warning-border-color);
}
.DeleteDocInput .hidden {
  display: none;
}
.DeleteDocInput .dialog-header {
  position: relative;
  display: flex;
  padding: 0.25em;
  border-bottom: 1px solid
    hsl(
      var(--tri-1),
      var(--saturation),
      calc(var(--lightness) + var(--lighten))
    );
}
.dialog-body {
  background-color: var(--body-background-color);
}
.DeleteDocInput .dialog-header .close-button {
  position: absolute;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  right: 0.25em;
}
.close-button:hover {
  cursor: pointer;
}
form.clean .DeleteDocInput input {
  text-align: center;
  margin-bottom: 0px;
}
.DeleteDocInput input.verified,
.DeleteDocInput input.verified:focus,
.DeleteDocInput input.active {
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
}
