.Header {
  height: 2em;
  width: 100%;
  border-bottom: var(--panel-border);
  display: flex;
  align-items: center;
}
.Header > div {
  flex-grow: 1;
}
.Header > div {
  display: flex;
  flex-direction: row;
}
.Header span {
  line-height: 1.5em;
}
.Header .left {
  justify-content: flex-start;
}
.Header .left > * {
  margin-left: 0.5em;
}
.Header .right {
  justify-content: flex-end;
}
.Header .right > * {
  margin-right: 0.5em;
}
.Header a {
  font-size: 1.5em;
}
.Header span.breadcrumbs > span::after {
  content: ' > ';
}
.Header span.breadcrumbs > span:last-child::after {
  content: '';
}
