.App {
  color: var(--app-text-color);
  background-color: var(--app-bg-color);
  height: 100vh;
}

.Main {
  margin: 1em;
}

/* .react-icons {
  color: var(--button-border-color);
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 0.25em;
} */

a.link {
  color: var(--app-text-color);
  text-decoration: none;
}
a.link:hover {
  color: var(--button-border-color);
}
a.link.active {
  color: var(--app-active-color);
}

button {
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 0.25em;
  padding: 0.25em 1em 0.25em 1em;
  color: var(--app-text-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}
button.warning {
  background-color: var(--warning-bg-color);
  border: 1px solid var(--warning-border-color);
}

button.icon {
  background-color: transparent;
  color: var(--button-icon-color);
  border: 0;
  padding: 0;
}
button.icon:hover {
  color: var(--button-icon-hover-color);
}
