/*
:root {
  --body-text-color: hsl(var(--complement), var(--saturation), var(--light));
  --body-background-color: hsl(var(--primary), var(--saturation), var(--dark));
  --success-text: hsl(var(--tri-2), var(--saturation), var(--lightness));
  --success-dark: hsl(var(--tri-2), var(--saturation), var(--dark));
  --success-bright: hsl(
    var(--tri-2),
    var(--saturation),
    calc(var(--lightness) + var(--adjust))
  );
  --warning-text: hsl(
    calc(var(--tri-1) + var(--degree) + var(--degree)),
    var(--saturation),
    var(--lightness)
  );
  --warning-dark: hsl(
    calc(var(--tri-1) + var(--degree) + var(--degree)),
    var(--saturation),
    var(--dark)
  );
  --warning-bright: hsl(
    calc(var(--tri-1) + var(--degree) + var(--degree)),
    var(--saturation),
    calc(var(--lightness) + var(--adjust))
  );
  --warning-background-color: hsl(
    var(--tri-1),
    var(--saturation),
    calc(var(--lightness) + var(--darken))
  );
  --warning-border-color: hsl(
    var(--tri-1),
    var(--saturation),
    calc(var(--lightness) + var(--lighten))
  );
  --error-border-color: hsl(
    var(--tri-1),
    var(--saturation),
    calc(var(--lightness))
  );
  --button-background-color: hsl(
    var(--tri-2),
    var(--saturation),
    calc(var(--lightness) + var(--darken))
  );
  --button-border-color: hsl(
    var(--tri-2),
    var(--saturation),
    calc(var(--lightness) + var(--lighten))
  );
}
html,
body {
  background-color: var(--body-background-color);
}
.App {
  color: var(--body-text-color);
  color: white;
  background-color: var(--body-background-color);
} 
.Main {
  margin: 1em;
}
p.success {
  color: var(--success-text);
}
p.warning {
  color: hsl(
    calc(var(--tri-1) + var(--degree) + var(--degree)),
    var(--light),
    calc(var(--lightness) + var(--lighten))
  );
}
.error,
p.error {
  color: hsl(
    var(--tri-1),
    var(--light),
    calc(var(--lightness) + var(--lighten))
  );
}
/* a {
  color: hsl(
    var(--complement),
    calc(var(--light) - var(--adjust)),
    calc(var(--light) + var(--darken))
  );
  text-decoration: none;
}
a:hover,
a.active {
  color: hsl(
    var(--complement),
    calc(var(--light)),
    calc(var(--lightness) + var(--light))
  );
} 
.button-row {
  display: flex;
}
button {
  margin: 0.5em 1em 0.5em 0;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  border-radius: 0.25em;
  padding: 0.25em 1em 0.25em 1em;
  color: hsl(var(--complement), var(--saturation), var(--lightness));
}
button:hover {
  cursor: pointer;
  background-color: hsl(
    var(--tri-2),
    var(--saturation),
    calc(var(--lightness) + var(--darken) + var(--adjust))
  );
}
button.warning {
  background-color: var(--warning-background-color);
  border: 1px solid var(--warning-border-color);
}
button.warning:hover {
  background-color: hsl(
    var(--tri-1),
    var(--saturation),
    calc(var(--lightness) + var(--darken) + var(--adjust))
  );
}
details > summary {
  border-bottom: var(--panel-border);
  padding: 0.5em;
}
details > summary::-webkit-details-marker {
  float: right;
  display: none;
}
summary:after {
  color: var(--body-text-color);
  content: '\25C2';
  float: right;
  font-weight: bold;
  text-align: center;
  width: 1em;
}
details[open] summary::after {
  content: '\25BE';
}
.panel {
  border: var(--panel-border);
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.panel-header button {
  margin: 0;
}
.panel-body {
  margin: 1em;
}
form.clean select,
form.clean input {
  width: 100%;
  margin-bottom: 1em;
  background-color: transparent;
  color: hsl(var(--adj-1), var(--saturation), var(--light));
  border: 0;
  border-bottom: 1px solid
    hsl(var(--adj-1), var(--saturation), calc(var(--lightness)));
}
form.clean input::placeholder {
  color: hsl(var(--complement), var(--saturation), var(--lightness));
}
form.clean input:hover,
form.clean input:active {
  border-bottom: 1px solid
    hsl(
      var(--adj-1),
      var(--saturation),
      calc(var(--lightness) + var(--lighten))
    );
}
form.clean input:focus {
  outline: none !important;
  border: 0;
  border-bottom: 1px solid
    hsl(
      var(--adj-1),
      var(--saturation),
      calc(var(--lightness) + var(--lighten))
    );
}
form.clean input.invalid,
form.clean input:focus:invalid {
  border-bottom: 1px solid
    hsl(var(--tri-1), var(--saturation), calc(var(--lightness)));
}
form.clean input.invalid:hover,
form.clean input.invalid:active {
  border-bottom: 1px solid
    hsl(
      var(--tri-1),
      var(--saturation),
      calc(var(--lightness) + var(--lighten))
    );
}
form.clean input.invalid:focus {
  outline: none !important;
  border: 0;
  border-bottom: 1px solid
    hsl(
      var(--tri-1),
      var(--saturation),
      calc(var(--lightness) + var(--lighten))
    );
}
form.clean select > option {
  background-color: var(--body-background-color);
}
form.login {
  width: 50%;
}
form.clean .input-group {
  display: grid;
  grid-template-columns: 5em 1fr;
}
form.clean .input-group label {
  font-size: 0.8em;
  padding-top: 0.2em;
}
form.clean .input-group.checkbox input {
  width: unset;
  border: unset;
  background-color: unset;
  color: unset;
  margin: unset;
}
form.clean .input-group.input-group.checkbox label {
  float: left;
}
*/
ul.errors::before {
  content: 'Errors:';
  display: inline-block;
  width: calc(100% - 1em);
  padding: 0.5em;
  border-bottom: 1px solid var(--error-border-color);
}
ul.errors {
  list-style-type: none;
  border: 1px solid var(--error-border-color);
  padding: 0;
}
ul.errors li {
  margin: 0.5em;
}
