:root {
  --app-bg-color: hsl(180, 10%, 15%);
  --app-text-color: hsl(60, 100%, 90%);
  --app-active-color: hsl(60, 100%, 50%);

  --div-border-color: hsl(60, 50%, 40%);

  --button-bg-color: hsl(180, 50%, 20%);
  --button-border-color: hsl(180, 50%, 30%);

  --warning-bg-color: hsl(30, 100%, 48%);
  --warning-border-color: hsl(30, 100%, 75%);
}

html,
body {
  height: 100%;
  background-color: var(--app-bg-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  white-space: pre;
}
