ul.settings-list {
  padding-left: 0;
  display: grid;
}
ul.settings-list li {
  list-style-type: none;
  display: grid;
  padding: 0.25em 0 0.25em 0;
  grid-template-columns: 1fr 1fr;
}
ul.settings-list li:hover {
  background-color: hsl(
    var(--primary),
    calc(var(--saturation)),
    calc(var(--lightness) + var(--darken))
  );
  cursor: pointer;
}
