.Settings > .panel {
  border: 1px solid var(--div-border-color);
  border-radius: 0.125em;
}

.panel-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid var(--div-border-color);
  padding: 1em;
}
h2.panel-title {
  flex-grow: 1;
  display: inline-block;
  margin: 0;
  /* padding: 0.25em 0 0.25em 1em; */
}
.panel-header .icon {
  font-size: 1.5em;
}

.panel-body {
  margin: 1em;
}

ul.location-list {
  padding-left: 0;
  display: grid;
  row-gap: 0.5em;
}
ul.location-list li {
  list-style-type: none;
  display: grid;
  padding: 0.25em 0 0.25em 0;
  grid-template-columns: [code] 6em [name] 1fr [edit] 1em;
}
ul.location-list li:hover {
  background-color: var(--button-border-color);
  cursor: pointer;
}
ul.location-list a {
  text-decoration: none;
  color: var(--app-text-color);
}
